<div class="home-container">
  <div class="title-wrapper">
    <div class="title">
      iOS Install
    </div>

    <div class="sub-title">
      A step-by-step guide
    </div>

    <a>
      <div class="start-now">
        Start now
      </div>
    </a>
  </div>
  <div class="about-wrapper">
    <div class="about-cell-one">
      What is iOS Install?
      <div class="sub-title">
        iOS Install is an easy guide to setting up your computer for iOS Development
      </div>
    </div>
    <div class="about-cell-two">
      How does it work?
      <div class="sub-title">
        Setup your computer like a pro by following a simple step-by-step guide 
      </div>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="section-wrapper">
      <div class="section-one">
        <span style="font-size:40px;">How it works</span><br><br>
        Butcher salvia Etsy, blog single-origin coffee meh food truck pork belly twee mustache Thundercats distillery plaid fixie. Retro keffiyeh artisan 
      </div>
      <div class="section-two">
        <span style="font-size:40px">What gets ?</span><br>
        Butcher salvia Etsy, blog single-origin coffee meh food truck pork belly twee mustache Thundercats distillery plaid fixie. Retro keffiyeh artisan 
      </div>
      <div class="section-three">
        <span style="font-size:40px">Who made this?</span><br>
        Butcher salvia Etsy, blog single-origin coffee meh food truck pork belly twee mustache Thundercats distillery plaid fixie. Retro keffiyeh artisan 
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="cell-one">
      <img src='/assets/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
    </div>
    <div class="cell-two">
      iOS Academy
    </div>
  </div>
</div>