<div class="home-container">
  <div class="title-wrapper">
    <div class="title">
      iOS Install
    </div>

    <div class="sub-title">
      A step-by-step guide
    </div>

    <a>
      <div class="start-now">
        Start now
      </div>
    </a>
  </div>
  <div class="about-wrapper">
    <div class="about-cell-one">
      What is iOS Install?
      <div class="sub-title">
        iOS Install is an easy guide to setting up your computer for iOS Development
      </div>
    </div>
    <div class="about-cell-two">
      How does it work?
      <div class="sub-title">
        Setup your computer like a pro by following a simple step-by-step guide 
      </div>
    </div>
  </div>
  <div class="bottom-wrapper">
    <div class="section-wrapper">
      <div class="section-one">
        <div style="font-size:30px; padding-bottom:10px">Who uses this?</div>
        <span style="color:orange">Beginners</span>: First time setup can be hard, make it easy with iOS Install
        <span style="color:orange"><br>Intermediates</span>: Easily install software
        <span style="color:orange"><br>Experts</span>: Version Control
      </div>
      <div class="section-two">
        <div style="font-size:30px; padding-bottom:10px">What gets installed?</div>
        <span style="color:orange">Xcode</span>: IDE for iOS Apps
        <span style="color:orange"><br>Homebrew</span>: Easily install software
        <span style="color:orange"><br>Git</span>: Version Control
        <span style="color:orange"><br>RVM/Ruby</span>: Version management
        <span style="color:orange"><br>Rails</span>: Full Stack Development
        <span style="color:orange"><br>Cocoapods</span>: Libraries for iOS 
      </div>
      <div class="section-three">
        <div style="font-size:30px; padding-bottom:10px">Who made this?</div>
        <a href="http://www.johnfigueiredo.com"><span style="color:orange">John Figueiredo</span></a> and everybody on the <a href="http://www.iosacademy.io">iOS Academy Team</a>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="cell-one">
      <img src='/assets/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
    </div>
    <div class="cell-two">
      iOS Academy
    </div>
  </div>
</div>