<div class="home-container">
  <div class="title-wrapper">
    <div class="title">
      iOS Install
    </div>

    <div class="sub-title">
      A step-by-step guide
    </div>

    <a>
      <div class="start-now">
        Start now
      </div>
    </a>
  </div>
  <div class="about-wrapper">
    <div class="about-cell-one">
      What is iOS Install?
      <div class="sub-title">
        iOS Install is an easy guide to setting up your computer for iOS Development
      </div>
    </div>
    <div class="about-cell-two">
      How does it work?
      <div class="sub-title">
        Setup your computer like a pro by following a simple step-by-step guide 
      </div>
    </div>
  </div>
  <div class="bottom-wrapper">
    <!-- <div class="cell-one">
    </div>
    <div class="cell-two">
    </div> -->
  </div>
  <div class="footer-container">
  </div>
</div>