<div class="home-container">
	<div class="home-table">
		<div class="home-cell-left"><img src="/assets/ios-academy-logo-dark-blue.png" height="100" width="100"></div>
		<div class="home-cell-right">Coming soon...</div>
	</div>
</div>