<div class="home-container">
  <div class="title-wrapper">
    <div class="title">
      iOS Install
    </div>

    <div class="sub-title">
      A step-by-step guide
    </div>

    <a>
      <div class="start-now">
        Start now
      </div>
    </a>
  </div>
  <div class="bottom-wrapper">
    <div class="cell-one">
    </div>
    <div class="cell-two">
    </div>
  <div>
</div>
<div class="footer-container">
</div>