<div class="command-line-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      The Command Line
    </div>
    <div class="step-title">
      1. Open "Terminal" using spotlight in upper right corner of screen
    </div>
    <div class="step-image">
      <img src='/assets/command_line/1_open_terminal.png' width="901" height="267"></img>
    </div>
    <div class="step-title">
      2. Check out your terminal, don't be afraid 
    </div>
    <div class="step-image">
      <img src='/assets/command_line/2_terminal_pic.png' width="699" height="480"></img>
    </div>
    <div class="step-tip">
      <strong>PRO TIP</strong>: type in $ <span style="color:yellow"> say -v "Good News" "Coding, like a boss"</span>
    </div>
    <div class="step-tip">
      <strong>PRO TIP 2</strong>: Do <span style="color:yellow">NOT</span> type in <span style="color:yellow">$</span> and the space at the beginning. It is called a prompt and it just means the command is executable 
    </div>
    <div class="step-title">
      3. Add Terminal to your dock for easy access 
    </div>
    <div class="step-image" style="padding-bottom:50px;">
      <img src='/assets/command_line/3_add_dock.png' width="419" height="331"></img>
    </div>
    <a href="/steps/homebrew">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
