<div class="install-git-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Install Git
    </div>
    <div class="step-title">
      1. In your terminal type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> brew install git
    </div>
    <div class="step-title">
      2. Verify it was downloaded by typing
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> git –-version
    </div>
    <div class="step-title">
      3. You should see a result similar to this with a number for the x
    </div>
    <div class="step-code">
      git version 1.8.x
    </div>
    <a href="/steps/install_git">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
