<div class="configure-git-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Configure Git
    </div>
    <div class="step-title">
      1. In your terminal type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> git config --global user.name “Your Actual Name”
    </div>
    <div class="step-title">
      2. Then type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> git config --global user.email “Your Actual Email”
    </div>
    <div class="step-title">
      3. To verify your configuration, type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> git config -l
    </div>
    <div class="step-tip">
      <strong>PRO TIP</strong>: Think of <span style="color:yellow">Git</span> as the Google Docs of code that allows multiple developers to work on the same project simultaneously. <br><br>Git <span style="color:yellow">version control</span> has many features that are very handy for making sure you can store many versions of code at once to revert if anything unfortunate happens or to examine old versions of code.
    </div>
    <a href="/steps/rvm_and_ruby">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
