<div class="congrats-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      
    </div>
    <div class="congrats-circle">
          <!-- Start Building <br>Apps Now! -->
          <br><br><br><br><br>
          Congrats!
      </div>
    <a href="http://www.iosacademy.io" target="_blank">
      <div class="step-image">
      </div>
    </a>
  </div>
  <div class="more-info">
    <div class="more-info-container">
      <div class="more-info-title">
        So what's next?
      </div>
      <div class="step-title">
        iOS Academy
      </div>
      <div class="step-subtitle">
        1. <a href="http://iosacademy.io/" target="_blank"><span style="color:yellow">iOS Academy</span></a> to start coding like a pro!
      </div>
      <div class="step-title" style="padding-top:40px">
        Additional Resources
      </div>
      <div class="step-subtitle">
        1. <a href="http://nshipster.com/" target="_blank"><span style="color:yellow">NSHipster</span></a> is a blog to learn some in depth features of Objective-C
      </div>
      <div class="step-subtitle">
        2. <a href="https://developer.apple.com/library/ios/navigation/" target="_blank"><span style="color:yellow">iOS Developer Library</span></a> is a one stop shop for all the information you will need about a variety of topics related to iOS Development including Xcode, Objective-C, and the Cocoa Touch Framework. 
      </div>
      <div class="step-subtitle">
        2. <a href="https://www.codeschool.com/paths/ios" target="_blank"><span style="color:yellow">Code School</span></a> A great tool to learn Objective-C syntax. You'll still want iOS Academy for everything else.
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
