<div class="first-app-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Make First App!
    </div>
    <div class="step-title">
      1. In your Terminal type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> sudo gem install cocoapods
    </div>
    <div class="step-tip">
      <strong>PRO TIP</strong>: During this process RubyGems might ask you if you want to overwrite the rake executable. This warning is raised because the rake gem will be updated as part of this process. Simply <span style="color:yellow">confirm by typing y</span>.
    </div>
    <a href="/steps/congrats">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
