<div class="first-app-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Make First App!
    </div>
    <div class="step-title">
      1. Open Xcode
    </div>
    <div class="step-image">
      <img src='/assets/first_app/1_open_xcode.png' width="735" height="297"></img>
    </div>
    <div class="step-title">
      2. Click "Create a new Xcode Project"
    </div>
    <div class="step-image">
      <img src='/assets/first_app/2_create_new_project.png' width="830" height="499"></img>
    </div>
    <div class="step-title">
      3. Select "Single View Application"
    </div>
    <div class="step-image">
      <img src='/assets/first_app/3_choose_template.png' width="731" height="490"></img>
    </div>
    <div class="step-title">
      4. Name Project Whatever You'd Like
    </div>
    <div class="step-image">
      <img src='/assets/first_app/4_name_application.png' width="728" height="491"></img>
    </div>
    <div class="step-title">
      5. Press (Command + R) Simultaneously to Run Simulator
    </div>
    <div class="step-image">
      <img src='/assets/first_app/5_simulator.png' width="445" height="642"></img>
    </div>
    <div class="step-tip" style="padding-bottom:50px;">
      Pro Tip: <span style="color:yellow">BOOM</span>, you killed it!
    </div>
    <a href="/steps/congrats">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
