<div class="install-xcode-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Install Xcode
    </div>
    <div class="step-title">
      1. Click on the  logo and select "App Store..."
    </div>
    <div class="step-image">
      <img src='/assets/install_xcode/1_open_app_store.png' width="289" height="309"></img>
    </div>
    <div class="step-title">
      2. Type in "Xcode" in App Store seach bar. 
    </div>
    <div class="step-image">
      <img src='/assets/install_xcode/2_find_xcode.png' width="810" height="176"></img>
    </div>
    <div class="step-title">
      3. Click "FREE", then "INSTALL APP" on Xcode App. 
    </div>
    <div class="step-tip">
      <strong>PRO TIP</strong>: Grab a cup of coffee, this is going to take a while. Xcode is a gigantic program
    </div>
    <div class="step-image">
      <img src='/assets/install_xcode/3_downloading_xcode.png' width="139" height="150"></img>
    </div>
    <div class="step-title">
      4. Open Xcode, where the magic happens.
    </div>
    <div class="step-image" style="padding-bottom:50px;">
      <img src='/assets/install_xcode/4_open_xcode.png' width="502" height="481"></img>
    </div>
    <a href="/steps/command_line">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
