<div class="rails-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Install Rails
    </div>
    <div class="step-title">
      1. In your Terminal type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> gem install rails
    </div>
    <div class="step-title">
      2. To verify it was installed type
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> rails –-version
    </div>
    <div class="step-title">
      3. You should see a result similar to this with a number for the x
    </div>
    <div class="step-code">
      <span style="color:rgb(40,160,160)">$</span> Rails 4.1.x
    </div>
    <a href="/steps/cocoapods">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
