<div class="upgrade-mac-container">

  <div class="header-container">
    <div class="cell-container">
      <div class="cell-one">
        <img src='/assets/shared/ios-academy-logo-dark-blue.png' width="50" height="50"></img>
      </div>
      <div class="cell-two">
        iOS Install | The step-by-step guide 
      </div>
    </div>
  </div>

  <div class="body-container"> 
    <div class="title-container">
      Time to upgrade your Mac OS
    </div>
    <div class="step-title">
      1. Click on the  logo and click "About This Mac"
    </div>
    <div class="step-image">
      <img src='/assets/upgrade_mac/1_about_mac_before.png' width="321" height="393"></img>
    </div>
    <div class="step-title">
      2. Click "Software Update..." if version is below 10.9.x
    </div>
    <div class="step-image">
      <img src='/assets/upgrade_mac/2_updates_needed.png' width="359" height="48"></img>
    </div>
    <div class="step-title">
      3. In the Updates section of the "App Store" click "Update" for Mavericks Update
    </div>
    <div class="step-image">
      <img src='/assets/upgrade_mac/3_upgrade_mavericks.png' width="660" height="210"></img>
    </div>
    <div class="step-title">
      4. After computer restart your "About This Mac" version should be 10.9.x
    </div>
    <div class="step-image" style="padding-bottom:50px;">
      <img src='/assets/upgrade_mac/4_about_mac_after.png' width="321" height="393"></img>
    </div>
    <a href="/steps/install_xcode">
      <div class="next-button">
        Next Step
      </div>
    </a>
  </div>
  <div class="footer-container">
    <div class="cell-two">
      © 2014 iOS Academy 
    </div>
  </div>
</div>
