/*@import 'typography.css.scss' ;*/

.wrapper {
	margin: 0px 0px;
	height: 100%;
	width: 100%;
	letter-spacing: 3px;
	font-family: 'Muli', sans-serif;
	background-color: #FCFFF5;
	font-family: 'lato';
}

.home-container {
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	width: 100%;
	background-image:url('computer_2.png');
	background-size:1500px auto;
	background-repeat:no-repeat;

/*	-webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);*/
}

.home-container .title {
	margin-left:auto;
  margin-right:auto;
  float: center;
  font-size: 60px;
	color: white;
}

.home-container .sub-title {
	margin-left:auto;
  margin-right:auto;
  float: center;
	color: white;
}

