/*@import 'typography.css.scss' ;*/

.wrapper {
	margin: 0px 0px;
	height: 100%;
	width: 100%;
	letter-spacing: 3px;
	font-family: 'Muli', sans-serif;
	background-color: #FCFFF5;
	font-family: 'lato';
}

.home-container {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	height: 1000px;
	width: 100%;
	background-image:url('computer_2_semi_blurred.png');
	background-size:1600px auto;
	background-repeat:no-repeat;
}

/* Middle wrapper with title and subtitle */
.home-container .title-wrapper {
	margin-left:auto;
  margin-right:auto;
  width: 600px;
  height: 550px;
  background: rgba(252, 255, 245, .7);
}

.home-container .title {
	margin-left:auto;
  margin-right:auto;
  position: relative;
  padding-top: 100px;
  text-align: center;
  font-size: 100px;
	color: #193441;
}

.home-container .sub-title {
	margin-left:auto;
  margin-right:auto;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
	color: white;
	font-size: 40px;
	color: #193441;
}

.home-container .start-now {
	margin-left:auto;
  margin-right:auto;
	position: relative;
	padding-top: 25px;
	width: 200px;
	height: 60px;
	background-color: #91AA9D;
	text-align: center;
	font-size: 30px;
	color: #193441;
	border: solid 1px #193441;
}

.home-container .start-now:hover {
	background-color: #193441;
	border: solid 1px #193441;
	color: #FCFFF5;
}


/* About section below start button */
.home-container .about-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	width: 1000px;
	height: 200px;
	color: #FCFFF5;

	.about-cell-one {
		margin-left: auto;
		margin-right: auto;
		display: inline;
		float: left;
		margin-left: 100px;
		width: 400px;
		height: 50px;
		font-size: 30px;
	
			.sub-title {
			padding-top: 10px;
			width: 400px;
			height: 150px;
			color: #FCFFF5;
			text-align: left;
			font-size: 15px;
			line-height: 20px;
		}
	}

	.about-cell-two {
		margin-left: auto;
		margin-right: auto;
		display: inline;
		margin-left: 100px;
		float: left;
		width: 400px;
		height: 200px;
		font-size: 30px;

		.sub-title {
			padding-top: 10px;
			width: 400px;
			height: 150px;
			color: #FCFFF5;
			text-align: left;
			font-size: 15px;
			line-height: 20px;
		}
	}
}

/* Opacity div with three sections */
.bottom-wrapper {
	margin-left:auto;
  margin-right:auto;
  margin-top: -57px;
  height: 200px;
  background: rgba(252, 255, 245, .15);

  .section-wrapper {
  	margin-left:auto;
  	margin-right:auto;	
  	width: 1200px;
  	height: 200px;
  	color: #FCFFF5;
  	/*background-color: red;*/

		.section-one {
			margin-top: -40px;
			height: 150px;
			width: 349px;
			padding-left: 25px;
			padding-right: 25px;
			float: left;
			display:inline-block;
			/*background-color: blue;*/
			border-right: solid 1px #D1DBBD;
		}

		.section-two {
			margin-top: -40px;
			height: 150px;
			width: 349px;
			padding-left: 25px;
			padding-right: 25px;
			float: left;
			display:inline-block;
			/*background-color: yellow;	*/
			border-right: solid 1px #D1DBBD;
		}

		.section-three {
			margin-top: -40px;
			height: 150px;
			width: 350px;
			padding-left: 25px;
			padding-right: 25px;
			float: left;
			display:inline-block;
			/*background-color: black;	*/
		}
	}
}
/* Footer for information about iOS Academy */
.home-container .footer-container {
	margin-top: -20px;
	margin-left:auto;
  margin-right:auto;
  padding: 15px 0 0 150px;
  padding-right: 150px;
	position: relative;
	height: 65px;
	background-color: #D1DBBD;
	color: #3E606F;

	.cell-one {
		display:inline;
		float: left
	}

	.cell-two {
		padding-left: 15px;
		padding-top: 2px;
		display:inline;
		float: left;
		font-size: 40px;

	}
}

