.wrapper {
	margin: 0px 0px;
	height: 100%;
	width: 100%;
	letter-spacing: 3px;
	font-family: 'Muli', sans-serif;
	background-color: #FCFFF5;
}

.home-container {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	letter-spacing: 3px;
	font-family: 'Muli', sans-serif;
	background-color: #FCFFF5;
	color: #3E606F;
	font-size: 80px;
}

.home-table {
	padding-top: 200px;
	z-index: 5;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	float: center;
	background-color: #FCFFF5;
}

.home-cell-left {
	float: left;
	display:inline-block;
}

.home-cell-right {
	padding-left: 20px;
	float: left;
	display:inline-block;
}